extends layout

block content
    h1= 'New Year\'s flowers and plants'
    img(src='/images/hoa.png', alt='Food', style='float:right;width:300px;height:177px;')

    ul
        each thing in things
            li= thing.eng + ' - ' + thing.viet + ' ' + '(' + thing.type + ')'
    a(href='/flowers/add') Add new flower
    br
    br

